/* formulario */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

header {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav {
  float: right;
}

.imgHead {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

.logo {
  float: left;
  margin-top: 25px;
  padding-left: 10px;
  list-style: none;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 32px;
}
nav ul li a {
  display: block;
  padding: 10px;
  padding-right: 15px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #5a5f5e;
}

.contenido {
  padding-top: 100px;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 60px;
}

.formu {
  border-radius: 5px;
  background-color: #f3f3f3;
  padding-left: 25px;
  padding-top: 15px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
  background: black;
}
.pie {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

label {
  width: 350px;
  height: 50px;
  font-weight: bold;
  display: inline-block;
}

input[type="text"] {
  width: 50%;
  height: 35px;
  padding: 3px 10px;
  border: 1px solid #646464;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 8px 0;
  display: inline-block;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

select {
  width: 180px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 2, 2);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

option{
  text-align: left;
}

.select_grado{
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(2, 2, 2);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type="date"] {
  width: 180px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

input[type="submit"] {
  width: 25%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="file"] {
  width: 25%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="file"]:hover {
  background-color: #45a049;
}
input[type="button"] {
  width: 25%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #45a049;
}
/* acaba formulario */

/*Tabla*/
.contenido_tabla{
  padding-top: 100px;
  margin-right: 35px;
  margin-left: 35px;
  padding-bottom: 100px;
  overflow-y: auto;
}

table{
  table-layout: fixed;
  border-collapse: collapse;
}

.tabla{
  padding-top: 25px;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 30px;
}

.content-table {
  margin: 0px 15px;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 450px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.buscar{
  width: 350px;
  height: 50px;
  font-weight: bold;
}
.buscar_input{
  width: 50%;
  height: 35px;
  padding: 3px 10px;
  border: 1px solid #646464;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 8px 0;
}

.content-table thead tr {
  background-color: #bcbcbc;
  color: black;
  text-align: middle;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table td {
  text-align: center;
  background: #ffffff;
}

/* celdas */
td, th{
  width: 100px;
  word-wrap: break-word;
}
/* acaba celda */

/*acaba tabla*/

